# The base path for your deployment folder :
APP_BASE_PATH='/home/user'
LOG_DIRECTORY='/var/log/brad'

# Indicate an array of project here, for example :
projects["my_project"]="standalone" # Can be "symfony2" or "silex" as well, for now
  remote["my_project", "host"]="myserver.com"
  remote["my_project", "port"]="22" # For SSH
  remote["my_project", "user"]="patrick"
  remote["my_project", "path"]="/home/patrick/web"
